<div class="Item hr">
    <span class="fr">系统现有导航位<b>{$count}</b>个</span>
    <div class="current">导航位列表</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
        <tr>
            <td class="td_30">ID</td>
            <td>名称</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr align="center">
                <td>{$vo['id']}</td>
                <td>{$vo['name']}</td>
                <td>
                    <if condition="$vo['role']['is_super'] eq 0 ">
                    [ <a href="{:U('navPosition/edit', array('id' => $vo['id']))}">编辑</a> ]
                    [ <a href="javascript:void(0);" value="{:U('navPosition/delete', array('id' => $vo['id']))}" name="{$vo['name']}" class="del">删除</a> ]
                    </if>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</form>

<div class="page">
    {$page}
</div>

<script type="text/javascript">
    $(function(){
        $(".del").click(function(){
            var del_link = $(this).attr("value");
            popup.confirm('你真的打算删除 <b>'+ $(this).attr("name")+'</b> 吗?','温馨提示',function(action){
                if(action == 'ok'){
                    $.getJSON(del_link, function(json){
                        if (json.status) {
                            popup.success(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_success");
                            },2000);
                        } else {
                            popup.error(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_error");
                            },2000);
                        }

                        setTimeout(function(){
                            top.window.location.reload();
                        },1000);
                    });
                }
            });

            return false;
        });
    });
</script>
