<div class="Item hr">
    <div class="current">添加网站配置</div>
</div>
<form action="" method="post" enctype="multipart/form-data">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tr>
            <th width="100">配置标识：</th>
            <td><input id="config_sign" type="text" class="input" size="30" name="config_sign" placeholder="请输入配置标识"/>（不能包含特殊字符）</td>
        </tr>
        <tr>
            <th width="100">配置名称：</th>
            <td><input id="config_name" type="text" class="input" size="30" name="config_name" placeholder="请输入配置名称"/>（不能包含特殊字符）</td>
        </tr>
        <tr>
            <th width="100">配置值：</th>
            <td><input id="config_value" type="text" class="input" size="30" name="config_value" placeholder="请输入配置值"/>（不能包含特殊字符）</td>
        </tr>
        <tr>
            <th width="100">说明：</th>
            <td><input id="explain" type="text" class="input" size="30" name="explain" placeholder="请输入说明"/>（不能包含特殊字符）</td>
        </tr>
        <tr>
            <th width="100">排序：</th>
            <td><input id="sort" type="text" class="input" size="30" name="sort" placeholder="请输入数字" value="0"/>（数字）</td>
        </tr>
        <tr>
            <th width="100">状态：</th>
            <td>
                <select name="status">
                    <option value="0" selected>启用</option>
                    <option value="1">禁用</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="commonBtnArea" >
        <button class="btn submit">提交</button>
    </div>
</form>
