<div class="Item hr">
    <div class="current">修改管理员</div>
</div>
<form action="" method="post">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tr>
            <th width="100">ID：</th>
            <td>{$data['id']}</td>
            <input type="hidden" id="id" name="id" value="{$data['id']}"/>
        </tr>
        <tr>
            <th width="100">名称：</th>
            <td>{$data['username']}</td>
        </tr>
        <tr>
            <th width="100">密码：</th>
            <td><input id="password" type="password" class="input" size="30" name="password" placeholder="请输入密码"/></td>
        </tr>
        <tr>
            <th width="100">确认密码：</th>
            <td><input id="repassword" type="password" class="input" size="30" name="repassword" placeholder="请输入确认密码"/>（输入密码）</td>
        </tr>
    </table>
    <div class="commonBtnArea" >
        <button class="btn submit">提交</button>
    </div>
</form>
