<div class="Item hr">
    <div class="current">添加相册</div>
</div>
<form action="" method="post" enctype="multipart/form-data">
    <ul class="tabs">
        <li class="active" tabs-content="base" style="width:50%">基本设置</li>
        <li tabs-content="other" style="width:50%">其他设置</li>
    </ul>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tbody class="tabs-content h" id="base">
            <tr>
                <th width="100">名称：</th>
                <td><input id="name" type="text" class="input" size="30" name="name" placeholder="请输入名称"/>（不能包含特殊字符）</td>
            </tr>
            <tr>
                <th width="100">分类：</th>
                <td>
                    <select name="category_id" id="category_id">
                        <option value='0'>请选择</option>
                        <foreach  name="list" item="vo"  key="k">
                            <option value="{$k}">{$vo}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="100">主图：</th>
                <td><input id="img" type="file" class="input" size="30" name="img" placeholder="请选择图片"/>（不能包含特殊字符）</td>
            </tr>
            <tr>
                <th width="100">图片url：</th>
                <td>
                    <input id="picImg" type="text" class="input" size="30" name="img" placeholder="请填写图片url"/>（有图片url，则不用上传图片）
                </td>
            </tr>
            <tr>
                <th width="100">相册摘要：</th>
                <td>
                    <input id="abstract" type="text" class="input" size="30" name="abstract" placeholder="请输入相册摘要"/>（不能包含特殊字符）
                </td>
            </tr>
            <tr>
                <th width="100">相册关键词：</th>
                <td>
                    <input id="keyword" type="text" class="input" size="30" name="keyword" placeholder="请输入相册关键词"/>（不能包含特殊字符）
                </td>
            </tr>
            <tr>
                <th width="100">期刊：</th>
                <td><input id="week" type="text" class="input" size="30" name="week" placeholder="请输入数字" value="0"/>（不能包含特殊字符）</td>
            </tr>
            <tr>
                <th width="100">像素：</th>
                <td><input id="px" type="text" class="input" size="30" name="px" placeholder="请输入像素"/>（不能包含特殊字符）</td>
            </tr>
            <tr>
                <th width="100">描述：</th>
                <td><input id="desc" type="text" class="input" size="30" name="desc" placeholder="请输入描述"/>（不能包含特殊字符）</td>
            </tr>
            <tr>
                <th width="100">排序：</th>
                <td><input id="sort" type="text" class="input" size="30" name="sort" placeholder="请输入数字" value="0"/>（数字）</td>
            </tr>
        </tbody>
        <tbody class="tabs-content h" id="other">
            <tr>
                <th width="100">是否首页：</th>
                <td>
                    <select name="is_index">
                        <option value="1">是</option>
                        <option value="0" selected>否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="100">是否推荐：</th>
                <td>
                    <select name="is_recompend">
                        <option value="1">是</option>
                        <option value="0" selected>否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="100">状态：</th>
                <td>
                    <select name="status">
                        <option value="0">启用</option>
                        <option value="1" selected>禁用</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="100">来源</th>
                <td>
                    <select name="from" id="from">
                        <option value='0'>请选择</option>
                        <volist  name="infofrom_list" id="vo" key='k'>
                            <option value="{$k}">{$vo}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="100">版本号：</th>
                <td><input id="sort" type="text" class="input" size="30" name="v_no" placeholder="请输入数字" value="0"/>（数字）</td>
            </tr>
        </tbody>
    </table>
    <div class="commonBtnArea" >
        <button class="btn submit">提交</button>
    </div>
</form>
