<div class="Item hr">
    <span class="fr">系统现有区域<b>{$count}</b>个</span>
    <div class="current">区域列表</div>
</div>
<form action="" method="get">
    <!-- 搜索 -->
    <label for="name">名称：</label>
    <label>
        <input id="name" type="text" class="input" size="20" name="name" placeholder="请输入名称" value="{$map['name']}"/>
    </label>
    <label for="pid">pid：</label>
    <label>
        <input id="pid" type="text" class="input" size="20" name="pid" placeholder="请输入上级ID" value="{$map['pid']}"/>
    </label>
    <button class="btn submit">搜索</button>
    <a class="btn" href="{:U()}">清空</a>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
        <tr>
            <td class="td_30">ID</td>
            <td>名称</td>
            <td>上级</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr align="center">
                <td>{$vo['id']}</td>
                <td>{$vo['name']}</td>
                <td>{$vo['pid']|get_region_name}</td>
                <td>
                    <if condition="$vo['status'] eq 0 ">
                        正常
                        <else />
                        禁用
                    </if>
                </td>
                <td>
                    [ <a href="{:U('region/edit', array('id' => $vo['id']))}">编辑</a> ]
                    [ <a href="javascript:void(0);" value="{:U('region/delete', array('id' => $vo['id']))}" name="{$vo['name']}" class="del">删除</a> ]
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</form>

<div class="page">
    {$page}
</div>

<script type="text/javascript">
    $(function(){
        $(".del").click(function(){
            var del_link = $(this).attr("value");
            popup.confirm('你真的打算删除 <b>'+ $(this).attr("name")+'</b> 吗?','温馨提示',function(action){
                if(action == 'ok'){
                    $.getJSON(del_link, function(json){
                        if (json.status) {
                            popup.success(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_success");
                            },2000);
                        } else {
                            popup.error(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_error");
                            },2000);
                        }

                        setTimeout(function(){
                            top.window.location.reload();
                        },1000);
                    });
                }
            });

            return false;
        });
    });
</script>
