<div class="Item hr">
    <span class="fr">系统现有{$data['name']}文章图片<b>{$count}</b>个</span>
    <div class="current">图片列表</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
        <tr>
            <td>ID</td>
            <td>属于</td>
            <td>图片名称</td>
            <td>图片</td>
            <td>图片描述</td>
            <td>排序</td>
            <td>添加时间</td>
            <td>更新时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr align="center">
                <td>{$vo['id']}</td>
                <td>
                    <notempty name="vo.article">
                        {$vo['article']['title']}
                    </notempty>
                </td>
                <td>{$vo['name']}</td>
                <td><a href="__UPLOAD__/{$vo['url']}" target="_blank"><img src="__UPLOAD__/{$vo['url']}" style="height:30px;"/></a></td>
                <td>{$vo['desc']}</td>
                <td>{$vo['sort']}</td>
                <td>{$vo['add_time']|date="Y-m-d H:i:s",###}</td>
                <td>{$vo['update_time']|date="Y-m-d H:i:s",###}</td>
                <td>
                    [ <a href="{:U('article/editimg', array('id' => $vo['id']))}">编辑</a> ]
                    [ <a href="javascript:void(0);" value="{:U('static/delete', array('id' => $vo['id']))}" name="{$vo['name']}" class="del">删除</a> ]
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</form>

<div class="page">
    {$page}
</div>

<script type="text/javascript">
    $(function(){
        $(".del").click(function(){
            var del_link = $(this).attr("value");
            popup.confirm('你真的打算删除 <b>'+ $(this).attr("name")+'</b> 吗?','温馨提示',function(action){
                if(action == 'ok'){
                    $.getJSON(del_link, function(json){
                        if (json.status) {
                            popup.success(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_success");
                            },2000);
                        } else {
                            popup.error(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_error");
                            },2000);
                        }

                        setTimeout(function(){
                            top.window.location.reload();
                        },1000);
                    });
                }
            });

            return false;
        });
    });
</script>
