<extend name="Public:base" />
<block name='ng'>PicLists</block>
<block name="keywords"><meta name="keywords" content="{$keywords} {$data['keywords']}"></block>
<block name="description"><meta name="description" content="{$description} {$data['desc']}"></block>
<block name="frame">
    <!-- m站框架 -->
    <script id="app.html" type="text/ng-template">
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-nav-bar>
                    <ion-nav-back-button >
                    </ion-nav-back-button>
                </ion-nav-bar>
                <!-- 在这里加上tab -->
                <ion-nav-view name="lists"></ion-nav-view>
            </ion-side-menu-content>
        </ion-side-menus>
    </script>
</block>
<block name="main">
    <!-- m站列表页 -->
    <script id="lists.html" type="text/ng-template">
        <ion-view view-title="{$data['title']}" hide-tabs>
            <ion-nav-buttons side="left" >
                <button ng-click="goIndex()" ng-hide="indexBtn" class="button back-button buttons button-clear header-item text-left">
                    <i class="icon ion-ios-arrow-back"></i>&nbsp;首页
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right" >
                <button class="button back-button buttons button-clear header-item text-left">
                    <i class="icon ion-android-search"></i>
                </button>
            </ion-nav-buttons>
            <ion-content class="padding-top">
                <section class="container" ng-if="list.length === 0">
                     <strong class="row row-wrap">No results found...</strong>
                </section>
                <input type="text" name="id" id="id" value="{$id}" ng-hide="true" ng-model="id">
                <section class="container" ng-repeat="vo in list">
                    <a href="/pic/detail/id/<{vo.id}>.html">
                        <h5><{vo.name}></h5>
                        <div class="row row-wrap">
                            <div class="col">
                                <img class="full-image" src="{$qd_url}/<{vo.img}>" ng-if="v.url">
                            </div>
                        </div>
                    </a>
                </section>
                <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="loadMoreRes"></ion-infinite-scroll>
            </ion-content>
        </ion-view>
    </script>
</block>