<extend name="Public:base" />
<block name="keywords"><meta name="keywords" content="{$keywords}"></block>
<block name="description"><meta name="description" content="{$description}"></block>
<block name="main">
    <div class="container-fluid main">
        <div class="container video-list">
            <div class="title">
                <h4>
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <span class="title-lg">视频列表</span>
                    <span class="sort">默认排序：</span>
                    <if condition="$order eq 'new' ">
                        <a class="new active" href="__ACTION__/order/new" title="最新发布">最新发布<i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
                        <a class="view" href="__ACTION__/order/view" title="播放最多">播放最多<i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
                    <else /> 
                        <a class="new" href="__ACTION__/order/new" title="最新发布">最新发布<i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
                        <a class="view active" href="__ACTION__/order/view" title="播放最多">播放最多<i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
                    </if>
                    <span class="pull-right">共计：{$count}个视频</span>
                </h4>
                <div class="row text-left no-margin-right">
                    <div class="col-md-9 left no-padding-left">
                        <volist name="list" id="vo">
                            <section class="col-md-3">
                                <a href="/video/detail/id/{$vo.id}.html" target="_blank" title="{$vo.title}">
                                    <if condition="(substr($vo['img'],0,4) eq 'http') OR (substr($vo['img'],0,5) eq 'https') ">
                                        <img src="{$vo.img}" alt="{$vo.title}" class="img-h-130"/>
                                    <else /> 
                                        <img src="__UPLOAD__{$vo.img}" alt="{$vo.title}" class="img-h-130"/>
                                    </if>
                                    <p class="desc text-ellipsis text-left">{$vo.title}</p>
                                </a>
                                <p class="text-muted text-left">
                                    <span class="">{$vo.add_time|date="Y-m-d",###}</span>
                                    <span class="glyphicon glyphicon-play-circle"></span>
                                    <span class="view">{$vo.time}</span>
                                </p>
                            </section>
                        </volist>
                        <div class="page">
                            {$page}
                        </div>
                    </div>
                    <div class="col-md-3 right">
                        <div class="row">
                            <h4>周热门排行榜</h4>
                             <volist name="week_list" id="vo">
                                <section class="media">
                                    <a href="/video/detail/id/{$vo.id}.html" target="_blank" title="{$vo.title}">
                                        <div class="media-left">
                                            <if condition="(substr($vo['img'],0,4) eq 'http') OR (substr($vo['img'],0,5) eq 'https') ">
                                                <img src="{$vo.img}" alt="{$vo.title}" class="media-object"/>
                                            <else /> 
                                                <img src="__UPLOAD__{$vo.img}" alt="{$vo.title}" class="media-object"/>
                                            </if>
                                        </div>
                                        <div class="media-body">
                                            <h5>{$vo.title}</h5>
                                            <span class="glyphicon glyphicon-time time"></span>0:07:00
                                        </div>
                                    </a>
                                </section>
                            </volist>
                        </div>
                        <div class="row">
                            <h4>月热门排行榜</h4>
                            <volist name="month_list" id="vo">
                                <section class="media">
                                    <a href="/video/detail/{$vo.id}.html" target="_blank" title="{$vo.title}">
                                        <div class="media-left">
                                            <if condition="(substr($vo['img'],0,4) eq 'http') OR (substr($vo['img'],0,5) eq 'https') ">
                                                <img src="{$vo.img}" alt="{$vo.title}" class="media-object"/>
                                            <else /> 
                                                <img src="__UPLOAD__{$vo.img}" alt="{$vo.title}" class="media-object"/>
                                            </if>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="text-ellipsis">{$vo.title}</h5>
                                            <span class="glyphicon glyphicon-time time"></span>0:07:00
                                        </div>
                                    </a>
                                </section>
                            </volist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
