<div class="Item hr">
    <span class="fr">系统现有用户收藏<b>{$count}</b>个</span>
    <div class="current">用收藏列表</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
        <tr>
            <td class="td_30">ID</td>
            <td>用户名</td>
            <td>文章</td>
            <td>视频</td>
            <td>图片</td>
            <td>添加时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr align="center">
                <td>{$vo['id']}</td>
                <td>{$vo['user']['username']}</td>
                <td>
                    <a href="{:C('DEFAULT_URL.NEWS')}/article/detail/id/{$vo['article']['id']}.html" target="_blank">
                        {$vo['article']['title']}
                    </a>
                </td>
                <td>
                    <a href="{:C('DEFAULT_URL.V')}/video/detail/id/{$vo['video']['id']}.html" target="_blank">
                        {$vo['video']['title']}
                    </a>
                </td>
                <td>
                    <a href="{:C('DEFAULT_URL.PIC')}/pic/detail/id/{$vo['pic']['id']}.html" target="_blank">
                        {$vo['pic']['name']}
                    </a>
                </td>
                <td>{$vo['add_time']|date='Y-m-d H:i',###}</td>
                <td>
                    [ <a href="{:U('collect/edit', array('id' => $vo['id']))}">编辑</a> ]
                    [ <a href="javascript:void(0);" value="{:U('collect/delete', array('id' => $vo['id']))}" name="{$vo['config_sign']}" class="del">删除</a> ]
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</form>

<div class="page">
    {$page}
</div>

<script type="text/javascript">
    $(function(){
        $(".del").click(function(){
            var del_link = $(this).attr("value");
            popup.confirm('你真的打算删除 <b>'+ $(this).attr("name")+'</b> 吗?','温馨提示',function(action){
                if(action == 'ok'){
                    $.getJSON(del_link, function(json){
                        if (json.status) {
                            popup.success(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_success");
                            },2000);
                        } else {
                            popup.error(json.info);
                            setTimeout(function(){
                                popup.close("asyncbox_error");
                            },2000);
                        }

                        setTimeout(function(){
                            top.window.location.reload();
                        },1000);
                    });
                }
            });

            return false;
        });
    });
</script>
